extends layout

block content
  div.container
    h1= title
    a.btn.btn-primary(href="/add_jeep")
      i.icon-plus.icon-white
      | Add Jeep
    &nbsp;
    a.btn.btn-primary(href="/lines") View Lines
    table.table.table-striped
      thead
        tr
          th Plate Number
          th Driver
          th Line
          th Total Votes
          th Amount Raised
      tbody
        - each jeep in jeeps
          tr
            td= jeep.plate_num
            td= jeep.first_name + " " + jeep.last_name
            td= lineLookup[jeep.line]
            td= jeep.total_votes
            td= jeep.amount_raised

    div.timestamp= "as of " + ts