extends layout

block page_style
  style(type="text/css").
    img.prize-img {
      max-width: 150px;
      max-height: 150px;
    }

block content
  div.container
    h1= title
    a.btn.btn-primary(href="/add_prize")
      i.icon-plus.icon-white
      | Add Prize
    table.table.table-striped
      thead
        tr
          th Item
          th Name
          th Sponsor
          th Description
          th Date Posted
      tbody
        - each prize in prizes
          tr
            td
              img.prize-img(src="/uploads/" + prize._id + ".png") 
            td= prize.name
            td= prize.sponsor
            td= prize.desc
            td= moment().format("YYYY-MM-DD hh:mm", prize.date_posted)

    div.timestamp= "as of " + ts
