extends layout

block content
  div.container
    h1= title
    table.table.table-striped
      thead
        tr
          th Mobile No.
          th Total Votes
          th Total Amount Given
          th No. of Distinct Jeepneys Voted
          th Last Vote Date
      tbody
        - each voter in voters
          tr
            td= voter.mobile_no
            td= voter.total_votes
            td= voter.total_amount
            td= voter.jeepneys_voted
            td= moment(parseInt(voter.last_vote_dt, 10)).format('YYYY-MM-DD')

    div.timestamp= "as of " + ts
